@charset "utf-8";
/* CSS Document */
	
	
@media print {
	
	@page {size:landscape;}
	
	#nav{display: none;}
	
	#calpic{display: none;}
	header{display: none;}
	table, th, td{
	border: 1px solid black;
}
	th, td{
	padding:.5px;
	font-size: 11px;
	
}
}
	

